/* global text styling */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling across the top of the page */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

/* main content to take up 50% of the page and centered */
main {
    width: 50%;
    margin: 0 auto;
}

/* setting link color and removing underline */
a {
    text-decoration: none;
    color: indigo;
}

/* getting rid of indent on lists */
ul {
    padding: 0;
}

/* setting background and spacing of list items, remove bullet points */
li {
    background-color: rgb(215, 200, 225);
    padding: 5px;
    margin-bottom: 3px;
    list-style-type: none;
}

/* show answers as vertical blocks */
.answer {
    display: block;
}

/* styling and spacing for comments that tell user they're correct or incorrect */
.comment {
    border-top: gray 1px solid;
    padding-top: 15px;
    font-style: italic;
    color: gray;
}

/* button styling */
.btn {
    background-color:indigo;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: fit-content;
    margin-bottom: 5px;
}

/* button styling on hover */
.btn:hover {
    background-color: rgb(116, 57, 158);
}

/* styling for the score link */
#scoreLink {
    color: indigo;
    cursor: pointer;
}

/* pages and initial display settings */
#start-page {
    display: block;
    text-align: center;
}

#quiz {
    display: none;
    flex-direction: column;
}

#all-done {
    display: none;
}

#highscores {
    display: none;
}